PROFILE=starter
RUNTIME=node
DOMAIN=wabi.chat
CALLS=self_hosted_turn
ENABLE_RELAYS=false
ENABLE_MEDIA_GATEWAY=false
SFU_PROVIDER=none
ENABLE_SFU=false
LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
PLUGINS_ENABLED=true
PLUGINS_ALLOW_INSTALL=false
GIPHY_API_KEY=JnQbM04ak6tZExDzqUfEXwZ4GLW55EeY
WABI_STDB_BRIDGE_SERVER=http://stdb-proxy
WABI_STDB_BRIDGE_DATABASE=wabi-state-benchmark-v2
WABI_STDB_AUTH_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiJ9.eyJoZXhfaWRlbnRpdHkiOiJjMjAwODU1NTZmNjdiNzUxNGQyNTdkYjc1NzYyNzVjYmUzNzUxYmM1ZmNhZGRjZTljYWVhZTAzMTI5MTNhYmUwIiwic3ViIjoiODU5YWEzZDEtZmNkMS00MGQyLWFhZTgtZmZmOTMxOWIzMTQyIiwiaXNzIjoibG9jYWxob3N0IiwiYXVkIjpbInNwYWNldGltZWRiIl0sImlhdCI6MTc3MjY3OTc1MywiZXhwIjpudWxsfQ.arE_J8jF7vTSxn9wVvkA-985-UIFwudhxNDus7JUiPZfm1SbNKxNwDKq4RAHs0a5b64PB0gappAUtislWNE5Wg
WABI_STDB_ANONYMOUS=false
WABI_STDB_ALLOW_ANONYMOUS_IN_PRODUCTION=false
WABI_SERVER_INSTANCE_ID=10.229.254.247
WABI_SERVER_REGION=bangkok-lan
WABI_SERVER_ROLE=app
WABI_MESH_INSTANCE_URL_TEMPLATE=http://{instanceId}:8080
WABI_MESH_INGRESS_URL=http://10.229.254.247:8080
WABI_MESH_SHARED_TOKEN=ddfdaf6a28e515c768b8d48be2e0ed75c8de164ecd84a17a35e6dfd4973a1647
USE_TUNNEL_PROFILE=true
TUNNEL_CONNECTOR=named
CLOUDFLARE_TUNNEL_TOKEN=eyJhIjoiNzE1NDA2N2U2ZTRhMTA3NThkMDY1ZWEyYmI4MjRjZjEiLCJ0IjoiNTc1ZGE4M2YtN2U5MC00YzZkLTk5OTctYjZlMjEzOWU2NTQ3IiwicyI6Ik1UYzFZMlJtWm1JdFlqVXpOeTAwTldJNExXRTVaak10WWpsbU9HVXdaalkzTWpZMSJ9
